. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid rgba(148, 148, 148, 0.466);
    border-radius: 5px;
    padding: 25px 10px;
    margin: 30px 10px;
    width: 300px;
    height: 250px;
    text-align: center;
    background-color: #f2f2f2a4;
}

.titulo {
    padding: 10px;
    margin: 15px 0 30px 0;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.email {
    border-radius:5px;
    border: none;
    padding: 0;
    margin: 5px 20px 0 20px ;
    width: 220px;
    height: 30px;
    text-align: left;
    background-color: #E9ECEF;

}

input[type=email]:focus {
    background-color: #FFFFFF;
    border: #000000;
}

input[type=email]:hover {
    background-color: #DEE2E6;
    border: #000000;
}



.botao {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 20px;
    width: 220px;
    background-color: #1971C2;
    color: #F2F2F2;
    text-decoration: none;
    font-size: medium;
    
}

input[type=submit]:focus {
    border: 2px solid #000000;
}

input[type=submit]:hover {
    background-color: #1864AB;
}


label {
    padding-right: 180px;
    display: inline-block;
    text-align: left;
    margin: 10px 20px 0 20px;
}

